/* =========================================== */

body {
  overflow-x: hidden;
}

.navMidSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}


.navbarTitle {
  font-size: 21px;
}

.navBarActions {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  /* gap: 50px; */
  justify-content: space-evenly;

}
.routeAction {
  height: 100%;
  width: 33.33%;
  display: flex;
  border-radius: 0 0 10px 10px;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.routeAction:hover {
  background-color: #fa9875;
  border-bottom: 2px solid #ff7f50;
}

.navigationSection {
  /* border: 2px solid; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.navigationSection>div {
  font-size: 15px;
}

.logoutButton {
  position: absolute !important;
  right: 20px;
}

.budgetCardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

@media only screen and (max-width:830px) {
  .budgetCardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

  }
}

@media only screen and (max-width:600px) {
  .budgetCardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }
}